[Unit]
Description=Run configured directory backups daily

[Timer]
OnCalendar=daily
Persistent=true
Unit=directory-backup.service

[Install]
WantedBy=timers.target
