[Unit]
Description=Quickshell workspace overview
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionPathExists=/usr/bin/qs

[Service]
ExecStart=/usr/bin/qs -c overview
Restart=on-failure
RestartSec=2s
Slice=session-graphical.slice
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
